.titresad{
    text-align: center;
    background-color: hsl(216, 74%, 73%);
    border-radius: 12px;
    color: rgb(0, 0, 0);
    }


.border-primary{
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    
}

.border-primary:hover{
    background-color: rgb(180, 232, 241);
    cursor: pointer;
}
.button2{
    margin-right: 70%;
}